.scroll-tabs {
  overflow: hidden;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 40px 0;
  background-color: #fff;
  box-shadow: 3px 5px 10px 0 #ccc;
  >div {
    overflow-y: hidden;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    display: block;
    height: 100%;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 10px 20px 20px #fff;
    background-color: #fff;
    z-index: 2;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: -30px;
    display: block;
    height: 100%;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 10px 20px 20px #fff;
    background-color: #fff;
    z-index: 2;
  }
}
.analytics {
  &__tabs {
    width: 890px;
    margin: 20px auto;
    @include breakpoint(max-width 1300px) {
      position: relative;
      float: left;
      padding-right: 30px;

    }
    li {
      position: relative;
      display: inline-block;
      float: left;
      list-style: none;
      width: auto;
      border: 1px solid #eeeeee;
      border-right: none;
      box-sizing: border-box;
      margin-bottom: 5px;
      padding: 10px 25px;
      font-size: 14px;
      cursor: pointer;
      box-shadow: none!important;
      a {
        color: #000;
      }
      &:last-child {
        border-right: 1px solid #eeeeee;
      }
    }
    .active {
      background-color: #526069;
      border: 1px solid #526069;
      a {
        color: #fff;
      }
    }
  }
  &__content {
    position: relative;
    margin: 0;
    margin-bottom: 30px;
    @include breakpoint(max-width 440px) {
    }
    @include breakpoint(max-width 380px) {
    }

    > h2 {
      margin: -2px 0 0;
      padding: 30px 0;
      box-shadow: 3px 5px 10px 0 #ccc;
    }
  }
  &__charts {
    background-color: #ffffff;
    box-shadow: 3px 9px 10px 0 #ccc;
    margin-top: -2px;
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 30px;
    h2 {
      font-size: 30px;
      font-weight: 700;
      margin:0;
      @include breakpoint(max-width 640px) {
        font-size: 24px;
      }
    }
    @include breakpoint(max-width 600px) {
      padding-bottom: 40px;
    }
    .block {
      width: 640px;
      height: 335px;
      margin-left: -26px;
      position: relative;
      float: left;
      box-sizing: border-box;
      margin-top: -30px;
      &:last-of-type {
        margin-left: 70px;
      }
      @include breakpoint(max-width 1700px) {
        &:last-of-type {
          margin-left: 0;
        }
        margin-left: -140px;
      }
      @include breakpoint(max-width 1700px) {
        &:last-of-type {
          margin-left: -130px;
        }
      }
      @include breakpoint(max-width 1380px) {
        width: 700px;
        clear: both;
        float: none;
      }
      @include breakpoint(max-width 600px) {
        width: 290px;
        height: 500px;
        margin-left: 20px;
        &:last-of-type {
          margin-left: 20px;
        }
      }
      @include breakpoint(max-width 360px) {
        margin-left: -15px;
        &:last-of-type {
          margin-left: -15px;
        }
      }
      h3 {
        position: absolute;
        font-weight: 600;
        font-size: 18px;
        color: #526069;
        top: 75px;
        left: 460px;
        z-index: 3;
        @include breakpoint(max-width 600px) {
          left: 40px;
          top: 340px;
        }
      }
      .circle-chart {
        width: 500px;
        margin-left: 80px;
        @include breakpoint(max-width 600px) {
          margin-left: -90px;
        }
        > canvas {
          position: absolute;
          top: 80px;
          left: 150px;
        }
        svg {
          @include breakpoint(max-width 600px) {
            overflow: visible !important;
          }
          >rect {
            fill: transparent;
          }
          > g {
            &:nth-child(3) text {
              font-family: "Open Sans" !important;
              font-size: 12px !important;
              font-weight: 400;
              fill: #000 !important;
            }
            &:nth-child(3) {
              transform: translate(20px, 50px);
              >rect {
                width: 300px;
              }
              g {
                >rect {
                  width: 300px;
                }
                >g {
                  width: 300px;
                }
              }
            }
            @include breakpoint(max-width 600px) {
              transform: translate(30px, 0px);
              &:nth-child(3) {
                transform: translate(-230px, 315px);
              }
            }
            > g {
              height: 40px;
            }
          }
        }
      }
      .box {
        position: absolute;
        text-align: center;
        top: 170px;
        left: 260px;
        width: 110px;
        height: 80px;
        @include breakpoint(max-width 600px) {
          top: 170px;
          left: 120px;
          height: 60px;
        }
        h2 {
          margin: 0;
          padding: 0;
          box-shadow: none;
          display: inline-block;
          position: relative;
          text-align: center;
        }
        span {
          position: relative;
          font-size: 16px;
          color: red;
          font-weight: 300;
          top: -15px;
          left: 5px;
        }
        p {
          margin: 0;
          margin-left: 25px;
          float: left;
          position: relative;
          text-align: left;
          width: 80px;
        }
      }
    }
  }
}
[data-id="analytics-users"] {
  box-shadow: 3px 9px 10px 0 #ccc;
  h2 {
    box-shadow: none;
  }
  .actions {
    position: relative;
    float: left;
    width: 100%;
    padding-top: 30px;
    padding-left: 15px;
    background-color: #fff;
    box-sizing: border-box;
    @include breakpoint(max-width 440px) {
      padding-left: 5px;
    }
    h3 {
      font-size: 18px;
      font-weight: 600;
    }
    p {
      font-size: 14px;
      font-weight: 300;
    }
    &--left {
      position: relative;
      float: left;
      text-align: left;
      width: 50%;
      @include breakpoint(max-width 1455px) {
        width: 100%;
      }

      > div {
        position: relative;
        float: left;
        width: 100%;
        &:nth-child(2) {
          .drop {
            z-index: 25;
          }
        }
      }

      label {
        position: relative;
        float: left;
        margin: 10px 0;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
      }

      //checkbox
      .check {
        position: relative;
        display: block;
        height: 34px;
        clear: left;
        input {
          display: none;
        }
        input:checked + span {
          background: url(/img/icons/checked.png) top no-repeat;
          transition: 0.3s;
        }
        span {
          display: inline-block;
          width: 25px;
          height: 25px;
          margin: -1px 4px 0 0;
          vertical-align: middle;
          background: url(/img/icons/check.png) top no-repeat;
          transition: 0.3s;
          cursor: pointer;

        }
      }
      //end checkbox

      //switch
      .switch {
        position: relative;
        display: block;
        height: 34px;
        width: 300px;
        box-sizing: border-box;
        margin-left: 20px;
        @include breakpoint(max-width 400px) {
          width: 100px;
        }
        .slider-round {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 34px;
          width: 40px;
          height: 20px;
        }
        .slider-round:before {
          position: absolute;
          content: "";
          height: 25px;
          width: 25px;
          left: -2px;
          bottom: -3px;
          border: 1px solid #ccc;
          background-color: white;
          transition: .4s;
          border-radius: 50%;
          box-sizing: border-box;
        }
        input {
          display: none;
        }
        input:checked + .slider-round {
          background-color: #2196F3;
        }
        input:checked + .slider-round:before {
          transform: translateX(20px);
        }
        span {
          font-size: 16px;
          font-weight: 300;
          @include breakpoint(max-width 380px) {
            display: block;
            width: 20px;
            &:last-child {
              margin-top: -10px;
            }
          }
          &:last-child {
            margin-left: 45px;
          }
        }
      }
      //end switch

      .drop {
        position: absolute;
        display: none;
        margin-top: 0;
        float: left;
        clear: right;
        margin-left: 100px;
        width: 145px;
        padding-right: 20px;
        z-index: 10;
        .select {
          width: 100%;
        }
        .select-styled {
          background-color: #ffffff;
          border: 1px solid #ccc;
          color: #526069;
          &:after {
            border: 5px solid transparent;
            border-color: #000 transparent transparent;
          }
        }
        ul {
          background-color: #fff;
          z-index: 5;
          color: #526069;
          padding: 0;
          box-sizing: border-box;
          border: 1px solid #ccc;
          top: 42px;
          width: 100%;
          li {
          }
        }
      }
    }
    &--right {
      position: relative;
      float: right;
      width: 50%;
      height: 200px;
      margin: 0 auto;
      @include breakpoint(max-width 1750px) {
        height: 120px;
      }
      @include breakpoint(max-width 1455px) {
        float: left;
        width: 100%;
      }
      @include breakpoint(max-width 640px) {
        padding-left: 0;
        height: 170px;
        padding-bottom: 10px;
      }

      h3 {
        text-align: left;
      }
      .drop {
        position: absolute;
        margin: 0;
        width: 145px;
        z-index: 2;
        .select {
          width: 100%;
        }
      }
      p {
        position: relative;
        float: left;
        margin: 10px 10px 10px 150px;
        &:nth-child(5) {
          margin-left: 10px;
        }
        @include breakpoint(max-width 640px) {
          &:nth-child(3) {
            clear: left;
            margin-top: 10px;
          }
        }
      }
      input {
        position: relative;
        float: left;
        margin-top: 7px;
        @include breakpoint(max-width 640px) {
          &:nth-child(4) {
            clear: left;
          }
        }
        @include breakpoint(max-width 380px) {
          width: 110px;
          font-size: 13px;
        }
      }
    }

  }
  #dashboard_div {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 20px;
    overflow: hidden;
    @include breakpoint(max-width 1150px) {
      display: none;
    }
    #chart_div {
      width: 1100px;
      overflow-y: hidden;
      padding-top: 20px;
      box-sizing: border-box;
      > div {
        overflow: hidden;
      }
      svg {
        width: 1320px;
      }
    }
    #filter_div {
      margin-left: 130px;
      .google-visualization-controls-rangefilter-thumblabel {
        display: none;
      }
      .google-visualization-controls-slider-horizontal {
        width: 800px;
        background-color: #dcdfe1;
        border: none;
        @include breakpoint(max-width 1500px) {
          width: 500px;
        }
        .google-visualization-controls-slider-handle {
          background-color: #526069;
        }
        .google-visualization-controls-slider-thumb {
          border: none;
          background-color: #ffffff;
          background: url(/img/icons/array-charts.png) no-repeat center;
          top: 10px;

        }
      }
    }
    > a {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      img {
        position: relative;
        float: left;
        height: 30px;
        object-fit: none;
        padding-right: 5px;
      }
      p {
        position: relative;
        float: left;
        width: 100px;
        margin: 0;
        margin-top: -5px;
        color: #526069;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
  .add-chart {
    position: relative;
    float: left;
    width: 100%;
    background-color: #fff;
    a {
      background-color: #526069;
      display: inline-block;
      padding: 20px;
      position: relative;
      float: left;
      box-sizing: border-box;
      border-radius: 5px;
      margin: 40px 20px 20px 20px;
      clear: both;
      img {
        position: relative;
        float: left;
        padding-right: 10px;
      }
      p {
        position: relative;
        float: left;
        color: #fff;
        font-size: 18px;
        margin: 0;
        padding-top: 5px;
      }
    }
  }
  .m-screen {
    display: none;
    text-align: center;
    position: relative;
    float: left;
    background-color: #fff;
    width: 100%;
    @include breakpoint(max-width 1150px) {
      display: block;
    }
    @include breakpoint(max-width 640px) {
      padding-top: 20px;
    }
    a {
      display: block;
      position: relative;
      float: left;
      width: 280px;
      padding: 15px;
      box-sizing: border-box;
      background-color: #fe5057;
      color: #fff;
      border-radius: 5px;
      font-size: 17px;
      margin-left: 15px;
      @include breakpoint(max-width 440px) {
        margin-left: 0;
      }
    }
    p {
      font-size: 14px;
      font-weight: 300;
      color: #666666;
      position: relative;
      float: left;
      margin-left: 20px;
      clear: both;
    }
  }
}

