.content {
  width: 100%;
  margin: 30px;
  margin-bottom: 0;
  position: relative;
  float: left;
  @include breakpoint(max-width 940px) {
    width: 100%;
    margin: 30px 0 0 0;
    box-sizing: border-box;
  }
  &__head {
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    float: left;
    box-shadow: 3px 5px 10px 0 #ccc;
    a {
      display: block;
      color: #000;
      position: relative;
      float: left;
      padding-top: 40px;
      padding-right: 20px;
      font-weight: 600;
      font-size: 18px;
      @include breakpoint(max-width 510px) {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
      }
      span {
        font-weight: 300;
      }
    }
    p {
      width: calc(100% - 450px);
      position: relative;
      float: left;
      font-size: 16px;
      @include breakpoint(max-width 1450px) {
        width: 100%;
      }
      @include breakpoint(max-width 510px) {
        font-size: 13px;
      }
      span {
        color: red;
      }
    }
  }
  &__body {
    position: relative;
    float: left;
    margin-top: 30px;
    &__block {
      width: 32%;
      position: relative;
      float: left;
      background-color: #fff;
      box-shadow: 3px 5px 10px 0 #ccc;
      margin-right: 2%;
      margin-bottom: 30px;
      box-sizing: border-box;
      padding: 20px;
      height: 240px;
      overflow: hidden;
      transition: .5s;
      @include breakpoint(max-width 1150px) {
        display: none;
        &:nth-child(1) {
          display: block;
        }
        &:nth-child(2) {
          display: block;
        }
        &:nth-child(5) {
          display: block;
        }
      }
      &:hover {
        background-color: transparent;
        box-shadow: none;
        cursor:pointer;
        transition:.5s;
      }
      &:hover .in-hover {
        margin-top: 0;
      }
      &:hover .un-hover {
        margin-top: -200px;
      }
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      @include breakpoint(max-width 1600px) {
        width: 49%;
        &:nth-child(3n+3) {
          margin-right: 2%;
        }
        &:nth-child(2n+2) {
          margin-right: 0;
        }
      }
      @include breakpoint(max-width 1150px) {
        width: 100%;
        margin-right: 0;
        &:nth-child(3n+3) {
          margin-right: 0;
        }
        &:nth-child(2n+2) {
          margin-right: 0;
        }
      }
      @include breakpoint(max-width 500px) {
        padding: 10px;
      }

      &__top {
        clear: both;
        position: relative;
        float: left;
        width: 100%;
        padding-bottom: 10px;
        img {
          vertical-align: middle;
          position: relative;
          float: left;
          padding-right: 10px;
        }
        p {
          position: relative;
          float: left;
          font-size: 18px;
          font-weight: 500;
          @include breakpoint(max-width 500px) {
            width: 70px;
            font-size: 16px;
            font-weight: 300;
          }
        }
        .margin-top-0 {
          @include breakpoint(max-width 500px) {
            margin-top: 0;
          }
        }
        h3 {
          position: relative;
          float: right;
          margin: 10px 0;
          font-size: 24px;
          font-weight: 300;
          @include breakpoint(max-width 500px) {
            font-size: 20px;
          }
          span {
            font-size: 14px;
            bottom: 10px;
            position: relative;
            color: green;
          }
        }
      }
      &__bottom {
        position: relative;
        float: left;
        overflow: hidden;
        .un-hover {
          display: block;
          position: relative;
          float: left;
          width: 100%;
          height: 100%;
          p {
            position: relative;
            float: left;
            width: 50%;
            margin: 2px 0;
            &:first-child {
              width: 100%;
              position: relative;
              float: left;
            }
            @include breakpoint(max-width 500px) {
              font-size: 12px;
              font-weight: 300;
            }
          }
          a {
            position: relative;
            float: left;
            margin-top: 10px;
            display: none;
            color: blue;
          }
        }
        .in-hover {
          display: block;
          float: left;
          position: relative;
          margin-top: 200px;
          font-size: 14px;
          font-weight: 300;
          transition: .3s;
          line-height: 14px;
          p {
            @include breakpoint(max-width 500px) {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}