.menu {
  display: block;
  width: 300px;
  height: 2350px;
  background-color: #212a32;
  position: relative;
  float: left;
  z-index: 100;
  @include breakpoint(max-width 1600px) {
    height: 3500px;
  }
  @include breakpoint(max-width 1150px) {
    height: 3000px;
  }
  @include breakpoint(max-width 940px) {
    display: none;
    width: 100%;
    position: absolute;
    height:auto;
  }
  a,
  p,
  h2 {
    color: #fff;
  }
  &__head {
    position: relative;
    float: left;
    @include breakpoint(max-width 940px) {
      width: 300px;
      margin: 0 auto;
      float:none;
    }
    &__top {
      width: 100%;
      padding: 10px 0;
      box-sizing: border-box;
      text-align: center;
      h2 {
        letter-spacing: 3px;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 5px;
      }
      a {
        color:#5b6d79;
        text-transform: uppercase;
        font-size: 10px;
        padding:0 5px;
      }
    }
    &__middle {
      position: relative;
      float: left;
      width: 100%;
      text-align: center;
      .block {
        width: 100%;
        position: relative;
        float: left;
        text-align: center;
        p {
          width: 33%;
          position: relative;
          float: left;
          font-size: 11px;
          &:first-child {
            text-align: right;
            color:#5b6d79;
            margin-top: 30px;
            padding-right: 10px;
            box-sizing: border-box;
          }
          &:last-child {
            margin-top: 40px;
            text-align: center;
            box-sizing: border-box;
            span {
              text-transform: uppercase;
              color: #000;
              background-color: #a4d882;
              box-sizing: border-box;
              padding: 3px;
              border-radius: 3px;
            }
          }
        }
        img {
          width: 33%;
          object-fit: none;
          position: relative;
          float: left;
        }
      }
      p {
        width: 200px;
        position: relative;
        margin: 0 auto;
      }
      .money {
        font-size: 18px;
      }
    }
    &__bottom{
      position: relative;
      float: left;
      width: 100%;
      text-align: center;
      padding-top: 20px;
      a {
        padding: 10px;
        img {
          vertical-align: middle;
        }
      }
    }
  }
  &__body {
    position: relative;
    float: left;
    padding-left: 0;
    width: 100%;
    li {
      list-style: none;
      width: 100%;
      position: relative;
      a {
        display: block;
        width: 100%;
        position: relative;
        float: left;
        padding: 10px 30px 10px 15px;
        margin-left: 10px;
        box-sizing: border-box;
        height: 70px;
        z-index: 5;
        border-radius: 5px;
        &:hover {
          cursor: pointer;
        }
        &:hover  span{
          background-color: #496fdf;
        }
        @include breakpoint(max-width 940px) {
          margin-left: 0;
          width: 100%;
        }
        span {
          position: relative;
          float: left;
          border-radius: 50%;
          background-color: #1e262d;
          width: 15px;
          height: 15px;
          margin: 5px;
          padding: 10px;
          margin-right: 15px;
          img {
            width: 15px;
          }
        }
        p {
          position: relative;
          float: left;
          font-size: 15px;
          &:nth-child(2) {
            width: 130px;
          }
          &:last-child {
            float: right;
          }
        }
        .margin-top-0 {
          margin-top: 5px;
        }
      }
      .show-submenu  {
        box-shadow: 0 0 1px 0 #051010;
        background-color: #2a3845;
        margin-left: 10px;
        @include breakpoint(max-width 940px) {
          margin-left: 0;
          width: 100%;
        }
        span {
          background-color: #496fdf;
        }
      }

      .submenu {
        display: none;
        position: absolute;
        left: 298px;
        padding: 0;
        width: 300px;
        background-color: #2a3845;
        height: inherit;
        top: 15px;
        z-index: 4;
        @include breakpoint(max-width 940px) {
          position: relative;
          float: left;
          top: 0;
          width: 100%;
          left: 0;
          background-color: #212a32;
          box-sizing: border-box;
          padding-left: 30px;
        }
        &:before {
          content: '';
          display: block;
          width: 300px;
          background-color: #2a3845;
          height: 1005px;
          position: absolute;
          top: -1000px;
          @include breakpoint(max-width 940px) {
            display: none;
          }
        }
        &:after {
          content: '';
          display: block;
          width: 300px;
          background-color: #2a3845;
          height: 300px;
          position: relative;
          bottom: 0;
          @include breakpoint(max-width 940px) {
            display: none;
          }
        }
        li {
          height: 50px;
          width: 100%;
          a {
            height: 57px;
            width: 90%;
            margin: 5px auto;
            float: none;
            font-size: 14px;
            padding: 10px;
            &:hover{
              background-color: #496fdf;
            }
          }
        }
      }
    }
  }
}
.menu-for-little-screen {
  display: none;
  width: 100%;
  position: relative;
  float: left;
  background-color: #212a32;
  color: #fff;
  @include breakpoint(max-width 940px) {
    display: block;
  }
  img {
    position: relative;
    float: left;
    margin: 5px 0;
  }
  h1 {
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    float: left;
    color: #fff;
    letter-spacing: 3px;
    margin: 25px 0px 0px 15px;
  }
  a {
    position: relative;
    float: right;
    width: 40px;
    display: block;
    margin: 20px 20px 0px 0px;
    span {
      position: relative;
      float: left;
      width: 100%;
      height: 2px;
      margin-top: 10px;
      background-color: #ffffff;
    }
  }
}
