.rating {
  width: 100%;
  position: relative;
  float: left;
  @include breakpoint(max-width 940px) {
    width: 100%;
    margin: 0 0 30px 0;
    box-sizing: border-box;
  }
  .toggles {
    display: none;
    position: relative;
    float: right;
    margin-top: 25px;
    margin-left: 30px;
    @include breakpoint(max-width 600px) {
      margin-top: 40px;
      margin-left: 0;
    }
    &__prev {
      position: relative;
      float: left;
    }
    &__next {
      position: relative;
      float: left;
    }
    @include breakpoint(max-width 1750px) {
      display: block;
    }
  }
  &__head {
    width: 100%;
    position: relative;
    float: left;
    background-color: #fff;
    box-shadow: 3px 5px 10px 0 #ccc;
    box-sizing: border-box;
    padding: 0px 10px;
    text-align: left;
    h2 {
      font-size: 28px;
      font-weight: 600;
      position: relative;
      float: left;
      text-align: left;
      margin-top: 20px;
      @include breakpoint(max-width 600px) {
        font-size: 22px;
        width: 180px;

      }
    }
    .drop {
      &:last-child {
        margin-left: 0;
      }
      &:last-child a{
        width: 170px;
      }
      &:last-child ul{
        width: 170px;
      }
      @include breakpoint(max-width 1150px) {
        float: left;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 5px;
        clear: both;
      }
      img {
        float: right;
        margin-top: 7px;
      }
    }
  }
  &__body {
    width: 100%;
    position: relative;
    float: left;
    background-color: #fff;
    box-shadow: 3px 5px 10px 0 #ccc;
    box-sizing: border-box;
    margin-top: 5px;
    padding: 20px 50px;
    overflow-x: hidden;
    height: 600px;
    &::-webkit-scrollbar {
      width: 20px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #f0f0f0;
      border: 4px solid #fff;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    @include breakpoint(max-width 1150px) {
      margin-top: -1px;
    }
    @include breakpoint(max-width 700px) {
      padding: 20px 30px;
    }
    @include breakpoint(max-width 700px) {
      padding: 20px 10px;
    }
  }
  &__block {
    position: relative;
    float: left;
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
    .grey {
      color:#7a7f84;
    }
    &--top {
      width: 100%;
      position: relative;
      float:left;
      >img {
        position: relative;
        float: left;
        margin-right: 20px;
        height: 70px;
        width: 70px;
        @include breakpoint(max-width 400px) {
          height: 60px;
          width: 60px;
          margin-right: 5px;
        }
      }
      a {
        position: relative;
        float: left;
        width: 130px;
        margin-bottom: 0;
      }
      .star {
        position: relative;
        float: right;
        width:auto;
        height: 100%;
        margin-top: 10px;
        p {
          position: absolute;
          top: 0;
          left: 19px;
        }
        span {
          position: absolute;
          top: -5px;
          right: -3px;
        }
      }
    }
    &--middle {
      position: relative;
      //float:left;
      width: 520px;
      margin: 0 auto;
      border-bottom: 1px solid #ccc;
      @include breakpoint(max-width 1750px) {
        width: 100%;
        text-align: center;
      }
      @include breakpoint(max-width 700px) {
        width: 100%;
      }
      img {
        max-width: 100%;
        @include breakpoint(max-width 785px) {
          margin-top: 10px;
        }
      }
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      a {
        width: 100%;
        display: block;
        text-align: center;
      }
    }
    &--bottom {
      position: relative;
      width: 520px;
      margin: 10px auto;
      @include breakpoint(max-width 630px) {
        width: 100%;

      }
      p {
        width: 25%;
        position: relative;
        float: left;
        margin: 0;
        &:nth-child(9) {
          width: 50%;
        }
        &:nth-child(10) {
          width: 50%;
        }
        @include breakpoint(max-width 630px) {
          width: 50%;
          margin-top: 5px;
          &:nth-child(9) {
            width: 100%;
          }
          &:nth-child(10) {
            width: 100%;
          }
        }
      }
    }
  }
  &__post {
    position: relative;
    float: right;
    width:calc(50% - 15px);
    @include breakpoint(max-width 1750px) {
      width: 100%;
      margin-right: 0;
    }
  }
  &__commit {
    position: relative;
    float: left;
    right: 0;
    margin-right: 30px;
    width:calc(50% - 15px);
    @include breakpoint(max-width 1750px) {
      width: 100%;
      display: none;
    }
    .rating__body {
      .rating__block {
        &--middle {
          .content {
            position: relative;
            float: left;
            height: 40px;
            margin: 0;
            width: 100%;
            overflow: hidden;
            padding-bottom: 20px;
            p {
              width: 100%;
              clear: both;
              position: relative;
              float: left;
            }
            img {
              position: relative;
              float: left;
              padding: 0px 10px;
            }
          }
        }

        &--bottom {
          p {
            width: 50%;
            @include breakpoint(max-width 600px) {
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }
  }
}