.statistics {
  width: 100%;
  margin-bottom: 0;
  margin-top: 30px;
  position: relative;
  float: left;
  @include breakpoint(max-width 940px) {
    width: 100%;
    margin: 30px 0 0 0;
    box-sizing: border-box;
  }
  &__head {
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 10px 40px;
    position: relative;
    float: left;
    box-shadow: 3px 5px 10px 0 #ccc;
    p {
      display: block;
      color: #526069;
      position: relative;
      float: left;
      padding-top: 40px;
      padding-right: 20px;
      padding-left: 20px;
      font-weight: 600;
      font-size: 18px;
      margin: 0;
      @include breakpoint(max-width 630px) {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
      }
      &:last-of-type {
        width: calc(100% - 550px);
        position: relative;
        float: left;
        font-size: 16px;
        color: #526069;
        font-weight: 400;
        padding-left: 20px;
        padding-top: 0;
        margin: 15px 0;
        @include breakpoint(max-width 1450px) {
          width: 100%;
          padding-left: 0;
        }
        @include breakpoint(max-width 630px) {
          font-size: 13px;
        }
        span {
          color: red;
        }
      }
      span {
        font-weight: 300;
        color: #526069;
      }
    }
  }
  &__body {
    position: relative;
    float: left;
    margin-top: 30px;
    &__block {
      width: 32%;
      position: relative;
      float: left;
      background-color: #fff;
      box-shadow: 3px 5px 10px 0 #ccc;
      margin-right: 2%;
      margin-bottom: 30px;
      box-sizing: border-box;
      padding: 20px;
      height: 220px;
      overflow: hidden;
      transition: .3s;
      &:hover {
        background-color: transparent;
        box-shadow: none;
        transition:.3s;
      }
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      @include breakpoint(max-width 1660px) {
        width: 49%;
        &:nth-child(3n+3) {
          margin-right: 2%;
        }
        &:nth-child(2n+2) {
          margin-right: 0;
        }
      }
      @include breakpoint(max-width 1190px) {
        width: 100%;
        margin-right: 0;
        &:nth-child(3n+3) {
          margin-right: 0;
        }
        &:nth-child(2n+2) {
          margin-right: 0;
        }
      }
      @include breakpoint(max-width 500px) {
        padding: 10px;
      }

      &__top {
        clear: both;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        flex-direction: row;
        position: relative;
        width: 100%;
        padding-bottom: 10px;
        img {
          object-fit: none;
          position: relative;
          float: left;
          padding-right: 10px;
        }
        p {
          position: relative;
          float: left;
          font-size: 18px;
          font-weight: 600;
          color: #526069;
          max-width: 225px;
          @include breakpoint(max-width 500px) {
            font-size: 16px;
            font-weight: 300;
          }
        }
        .margin-top-0 {
          @include breakpoint(max-width 500px) {
            margin-top: 0;
          }
        }
        h3 {
          position: relative;
          right:0;
          margin: 10px 0 10px auto;
          font-size: 24px;
          font-weight: 300;
          @include breakpoint(max-width 500px) {
            font-size: 20px;
          }
          span {
            font-size: 14px;
            bottom: 10px;
            position: relative;
            color: green;
          }
        }
      }
      &__bottom {
        position: relative;
        float: left;
        overflow: hidden;
        width: 100%;
        .un-hover {
          display: flex;
          flex-direction: column;
          position: relative;
          float: left;
          width: 100%;
          height: 110px;
          div {
            width: 100%;
          }
          p {
            position: relative;
            float: left;
            width: 50%;
            margin: 2px 0;
            font-weight: 300;
            color: #526069;
            @include breakpoint(max-width 500px) {
              font-size: 12px;
              font-weight: 300;
            }
          }
        }
        .in-hover {
          display: none;
          float: left;
          position: relative;
          font-size: 14px;
          font-weight: 300;
          transition: .3s;
          line-height: 14px;
          color: #526069;
          p {
            margin-top: 0;
            @include breakpoint(max-width 500px) {
              font-size: 13px;
            }
          }
        }

      }
      .hint {
        display: block;
        position: absolute;
        bottom: 10px;
        right: 10px;
        height: 22px;
        width: 22px;
        background: url(/img/icons/question-circular-button.png) center center / cover;
      }
      .show-hint {
        background: url(/img/icons/cross.png) center center / cover;
      }
    }
  }
}