.tabs {
  margin: 0 30px;
  position: relative;
  float: left;
  width: calc(100% - 360px);
  @include breakpoint(max-width 940px) {
    width: 100%;
    margin: 0;
    padding: 0px 15px;
    box-sizing: border-box;
  }
  &__head {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    height: 80px;
    h1 {
      position: relative;
      float: left;
      font-size: 34px;
      font-weight: 500;
      @include breakpoint(max-width 650px) {
        font-size: 24px;
      }
    }

    .drop {
      margin-top: 20px;
      margin-left: 0;
      @include breakpoint(max-width 650px) {
        float: left;
        width: 30px;
        height: 30px;
        > a {
          display: none;
        }

      }
      &:before {
        content: '';
        display: none;
        position: relative;
        float: left;
        width: 30px;
        height: 30px;
        background: url('../img/icons/down-black.png') center center no-repeat;
        @include breakpoint(max-width 650px) {
          display: block;
        }
      }
      a {
        width: 180px;
        @include breakpoint(max-width 650px) {
          width: 100%;
          background-color: transparent;
        }
      }
      ul {
        width: 180px;
        @include breakpoint(max-width 650px) {
          position: absolute;
          width: 320px;
          right: 0;
          text-align: center;
          top: 30px;
          background-color: rgba(100, 100, 100, .9);
        }
      }
    }
  }
  &__body {
    position: relative;
    float: left;
    width: 100%;
    .dropdown-tabs {
      position: relative;
      float: left;
      span {
        display: none;
        position: absolute;
        top: 20px;
        right: 0;
        height: 40px;
        width: 40px;
        img {
          width: 100%;
          object-fit: none;
        }
        @include breakpoint(max-width 1450px) {
          display: block;
        }
      }
    }
    .show-tabs {
      height: auto;
      transition: .3s;
    }
  }
  &__buttons {
    position: relative;
    float: left;
    width: 1000px;
    padding-left: 0;
    margin: 0;
    overflow-x: hidden;
    transition: .3s;
    @include breakpoint(max-width 1450px) {
      width: 250px;
      background-color: #ffffff;
      height: 50px;
      overflow: hidden;
    }
    li {
      position: relative;
      float: left;
      list-style: none;
      @include breakpoint(max-width 1450px) {
        float: none;
        width: 100%;
        text-align: center;
      }
      a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        position: relative;
        float: left;
        padding: 20px 20px;
        font-size: 16px;
        color: #000;
        border-top: 2px solid transparent;
        img {
          display: none;
          position: relative;
          float: right;
          margin-top: 10px;
        }
      }
      .active {
        border-top: 2px solid #547df9;
        background-color: #ffffff;
        img {
          @include breakpoint(max-width 1450px) {
            display: block;
          }
        }
      }
    }
  }
  &__content {
    background-color: #ffffff;
    position: relative;
    float: left;
    width: 100%;
    h2 {
      text-align: center;
    }
    .scroll-tabs {
      position: relative;
      width: 100%;
      text-align: center;
      z-index: 10;
      box-sizing: border-box;
      overflow-y: hidden;
      padding-left: 0;
      &::-webkit-scrollbar {
        height: 2px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #526069;
      }
      &::-webkit-scrollbar-track {
        background-color: #cbcfd2;
      }
    }

    &--inside-tabs {
      width: 850px;
      margin: 40px auto 20px auto;
      li {
        position: relative;
        display: inline-block;
        float: left;
        list-style: none;
        width: auto;
        padding: 15px 0;
        border: 1px solid #eeeeee;
        border-right: none;
        box-sizing: border-box;
        margin-bottom: 5px;
        &:last-child {
          border-right: 1px solid #eeeeee;
        }
        a {
          color: #000;
          width: 100%;
          padding: 15px 20px;
          font-size: 14px;
          box-sizing: border-box;
          border: none;
        }
        .active {
          background-color: #526069;
          color: #fff;
          border: 1px solid #526069;
        }
      }
    }
    &--inside-content {
      position: relative;
      margin: 0 30px;
      padding: 30px 0;
      @include breakpoint(max-width 440px) {
        margin: 0px 15px;
      }
      @include breakpoint(max-width 380px) {
        margin: 0 5px;
      }
      h2 {
        font-size: 30px;
        font-weight: 700;
        margin-top: 40px;
        @include breakpoint(max-width 640px) {
          font-size: 24px;
        }
      }
    }

    //general
    #inside-general {
      .block {
        width: 50%;
        position: relative;
        float: left;
        overflow: hidden;
        @include breakpoint(max-width 1450px) {
          width: 100%;
          margin-bottom: 20px;
        }
        @include breakpoint(max-width 450px) {
          width: 310px;
        }
        .circle-chart {
          @include breakpoint(max-width 500px) {
            margin-left: -90px;
          }
          >canvas {
            position: absolute;
            top: 80px;
            left: 150px;
          }
          width: 500px;
        }
        .box {
          position: absolute;
          text-align: center;
          top: 165px;
          left: 140px;
          width: 100px;
          height: 100px;
          @include breakpoint(max-width 500px) {
            top: 120px;
            left: 100px;
            height: 60px;
          }
          h2 {
            margin: 0;

          }
          span {
            position: relative;
            top: -40px;
            right: -55px;
            font-size: 16px;
            color: red;
            font-weight: 300;
          }
          p {
            margin: 0;
          }
        }
      }
    }
    //end general

    //users
    #inside-users {
      .actions {
        position: relative;
        float: left;
        width: 100%;
        border-top: 1px solid #ddd;
        padding-top: 30px;
        h3 {
          font-size: 18px;
          font-weight: 600;
        }
        p {
          font-size: 14px;
          font-weight: 300;
        }
        &--left {
          position: relative;
          float: left;
          text-align: left;
          width: 380px;
          @include breakpoint(max-width 1750px) {
            width: 250px;
          }
          @include breakpoint(max-width 1300px) {
            width: 400px;
          }
          label {
            position: relative;
            float: left;
            width: 100%;
            margin: 10px 0;
            font-size: 14px;
            font-weight: 300;
            &:nth-child(3) {
              width: 150px;
            }
            &:nth-child(4) {
              width: 220px;
            }
            @include breakpoint(max-width 1750px) {
              &:nth-child(3) {
                width: 100%;
              }
            }
            @include breakpoint(max-width 1300px) {
              &:nth-child(3) {
                width: 120px;
              }
            }
          }

          //checkbox
          .check {
            position: relative;
            display: block;
            height: 34px;
            input {
              display: none;
            }
            input:checked + span {
              background: url(../img/icons/checked.png) top no-repeat;
              transition: 0.3s;
            }
            span {
              display: inline-block;
              width: 25px;
              height: 25px;
              margin: -1px 4px 0 0;
              vertical-align: middle;
              background: url(../img/icons/check.png) top no-repeat;
              transition: 0.3s;
              cursor: pointer;

            }
          }
          //end checkbox

          //switch
          .switch {
            position: relative;
            display: block;
            height: 34px;
            width: 300px;
            box-sizing: border-box;
            .slider-round {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #ccc;
              -webkit-transition: .4s;
              transition: .4s;
              border-radius: 34px;
              width: 40px;
              height: 20px;
            }
            .slider-round:before {
              position: absolute;
              content: "";
              height: 25px;
              width: 25px;
              left: -2px;
              bottom: -3px;
              border: 1px solid #ccc;
              background-color: white;
              transition: .4s;
              border-radius: 50%;
              box-sizing: border-box;
            }
            input {
              display: none;
            }
            input:checked + .slider-round {
              background-color: #2196F3;
            }
            input:checked + .slider-round:before {
              transform: translateX(20px);
            }
            span {
              font-size: 16px;
              font-weight: 300;
              @include breakpoint(max-width 380px) {
                display: block;
                width: 20px;
                &:last-child {
                  margin-top: -10px;
                }
              }
              &:last-child {
                margin-left: 45px;
              }
            }
          }
          //end switch

        }
        &--center {
          position: relative;
          float: left;
          width: 600px;
          padding-left: 30px;
          height: 200px;
          margin: 0 auto;
          @include breakpoint(max-width 1750px) {
            height: 100px;
          }
          @include breakpoint(max-width 1300px) {
            padding-left: 0;
            height: 170px;
          }

          h3 {
            text-align: left;
          }
          .drop {
            position: relative;
            float: left;
            margin: 0;
            text-align: center;
            a {
              padding: 10px;
            }
            ul {
              position: absolute;
              width: 100%;
            }
          }
          p {
            position: relative;
            float: left;
            margin: 10px;
            @include breakpoint(max-width 640px) {
              &:nth-child(3) {
                clear: left;
                margin-top: 10px;
              }
            }
          }
          input {
            position: relative;
            float: left;
            margin-top: 7px;
            @include breakpoint(max-width 640px) {
              &:nth-child(4) {
                clear: left;
              }
            }
            @include breakpoint(max-width 380px) {
              width: 110px;
              font-size: 13px;
            }
          }
        }
        &--right {
          position: relative;
          float: right;
          width: 320px;
          @include breakpoint(max-width 1750px) {
            float: left;
            padding-left: 30px;
          }
          @include breakpoint(max-width 1300px) {
            padding-left: 0;
          }
          h3 {
            text-align: left;
            width: 50%;
            position: relative;
            float: left;
          }
          .drop {
            position: relative;
            float: left;
            margin: 10px 20px 0px 0;
            text-align: center;
            @include breakpoint(max-width 380px) {
              margin-right: 5px;
              font-size: 12px;
            }
            a {
              padding: 10px;
              @include breakpoint(max-width 380px) {
                font-size: 12px;
              }
            }
            ul {
              position: absolute;
              width: 100%;
            }
          }
        }

      }
      #dashboard_div {
        position: relative;
        margin: 0 auto;
        width: 1100px;
        @include breakpoint(max-width 1500px) {
          display: none;
        }
        #chart_div {
          width: 100%;
          overflow-y: hidden;
          padding-top: 20px;
          box-sizing: border-box;
          > div {
            overflow: hidden;
          }
          svg {
            width: 1320px;
          }
        }
        #filter_div {
          margin-left: 130px;
          .google-visualization-controls-rangefilter-thumblabel {
            display: none;
          }
          .google-visualization-controls-slider-horizontal {
            width: 800px;
            background-color: #dcdfe1;
            border: none;
            .google-visualization-controls-slider-handle {
              background-color: #526069;
            }
            .google-visualization-controls-slider-thumb {
              border: none;
              background-color: #ffffff;
              background: url(../img/icons/array-charts.png) no-repeat center;
              top: 10px;

            }
          }
        }
        > a {
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
          img {
            position: relative;
            float: left;
            height: 30px;
            object-fit: none;
            padding-right: 5px;
          }
          p {
            position: relative;
            float: left;
            width: 100px;
            margin: 0;
            margin-top: -5px;
            color: #526069;
            font-size: 14px;
            font-weight: 300;
          }
        }
      }
      > a {
        background-color: #526069;
        display: inline-block;
        padding: 20px;
        position: relative;
        float: left;
        box-sizing: border-box;
        border-radius: 5px;
        margin-top: 40px;
        clear: both;
        img {
          position: relative;
          float: left;
          padding-right: 10px;
        }
        p {
          position: relative;
          float: left;
          color: #fff;
          font-size: 18px;
          margin: 0;
          padding-top: 5px;
        }
      }
      .m-screen {
        display: none;
        width: 280px;
        text-align: center;
        position: relative;
        float: left;
        @include breakpoint(max-width 1300px) {
          margin-top: 20px;
        }
        a {
          display: block;
          position: relative;
          float: left;
          width: 100%;
          padding: 15px;
          box-sizing: border-box;
          background-color: #fe5057;
          color: #fff;
          border-radius: 5px;
          font-size: 17px;
        }
        p {
          font-size: 14px;
          font-weight: 300;
          color: #666666;
          position: relative;
          float: left;
          width: 100%;
        }

        @include breakpoint(max-width 1500px) {
          display: block;
        }
      }
    }
    //end users

  }
}