.tabs {
  position: relative;
  float: left;
  width: 100%;
  @include breakpoint(max-width 940px) {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  &__head {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    height: 70px;
    h1 {
      position: relative;
      float: left;
      font-size: 34px;
      font-weight: 700;
      margin-top: 10px;
      @include breakpoint(max-width 650px) {
        font-size: 24px;
        font-weight: 500;
        text-align: center;
      }
    }
    .drop {
      margin-top: 20px;
      margin-left: 0;
      width: 180px;
      position: relative;
      @include breakpoint(max-width 650px) {
        position: absolute;
        margin-top: 0;
        left: 0px;
        top: 0;
        min-height: 60px;
        width: 290px;
        background: url(../img/icons/down-black.png) no-repeat 260px 25px;
        span {
          display: none;
        }
        ul {
          top: 50px;
        }
      }
    }
  }

  &__body {
    position: relative;
    float: left;
    width: 100%;;
    .show-tabs {
      height: auto;
      transition: .3s;
    }
  }

  //for mobile menu gamburger
  &__active-btn {
    position: relative;
    display: none;
    padding: 20px;
    width: 220px;
    background-color: #ffffff;
    border-top: 2px solid #547df9;
    cursor: pointer;
    text-align: center;
    &:after {
      content: '';
      display: none;
      position: absolute;
      top: 25px;
      right: 10px;
      height: 10px;
      width: 10px;
      background: url(../img/icons/down-black.png) no-repeat center center;
      transition: transform .5s;
      @include breakpoint(max-width 1200px) {
        display: block;
      }
    }
    @include breakpoint(max-width 1200px) {
      display: block;
    }
  }
  // end for mobile menu gamburger

  &__buttons {
    width: 100%;
    position: relative;
    float: left;
    padding-left: 0;
    margin: 0;
    overflow-x: hidden;
    transition: .3s;
    @include breakpoint(max-width 1200px) {
      display: none;
      width: 260px;
      text-align: center;
      background-color: #fff;
    }
    li {
      position: relative;
      float: left;
      list-style: none;
      text-align: center;
      @include breakpoint(max-width 1200px) {
        width: 100%;
      }
      a {
        box-sizing: border-box;
        display: block;
        width:auto;
        position: relative;
        padding: 20px ;
        font-size: 16px;
        color: #000;
        border-top: 2px solid transparent;
        transition: padding 2s;
        @include breakpoint(max-width 1450px) {
          padding: 20px 10px;
        }
        @include breakpoint(max-width 1225px) {
          padding: 20px 8px;
        }
        @include breakpoint(max-width 1200px) {
          padding: 20px ;
        }
        img {
          display: none;
          position: relative;
          float: right;
          margin-top: 10px;
        }
      }
      .active_tab {
        background-color: #fff;
        border-top: 2px solid #547df9;
        @include breakpoint(max-width 1200px) {
          border-top: 2px solid transparent;
        }
      }
    }
  }

  &__content {
    background-color: #f4f6f6;
    position: relative;
    float: left;
    width: 100%;
    h2 {
      text-align: center;
      background-color: #ffffff;
    }
  }

}