h1 {
  position: relative;
  float: left;
  font-size: 34px;
  font-weight: 700;
  margin-top: 10px;
  @include breakpoint(max-width 650px) {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }
}
.tabs {
  position: relative;
  float: left;
  width: 100%;
  margin-top: -70px;
  @include breakpoint(max-width 940px) {
    width: 100%;
    margin: -60px 0 0;
    padding: 0;
    box-sizing: border-box;
  }

  &__head {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    height: 70px;
    .drop {
      margin-top: 10px;
      margin-left: 0;
      width: 180px;
      position: relative;
      @include breakpoint(max-width 650px) {
        position: absolute;
        top: 5px;
        left: 25px;
        margin-top: 20px;
      }
      .select-styled {
        @include breakpoint(max-width 650px) {
          position: absolute;
          left: -25px;
          top: -25px;
          min-height: 60px;
          width: 290px;
          color: transparent;
          background: url(/img/icons/down-black.png) no-repeat 260px 25px;
          &:after {
            display: none;
          }
          ul {
            top: 50px;
          }
        }
      }
      .select-options {
        @include breakpoint(max-width 650px) {
          width: 200px;
        }
      }
    }
  }

  &__body {
    position: relative;
    float: left;
    width: 100%;;
    .show-tabs {
      height: auto;
      transition: .3s;
    }
  }

  //for mobile menu gamburger
  &__active-btn {
    position: relative;
    display: none;
    padding: 20px;
    width: 220px;
    background-color: #ffffff;
    border-top: 2px solid #547df9;
    cursor: pointer;
    text-align: center;
    &:after {
      content: '';
      display: none;
      position: absolute;
      top: 25px;
      right: 10px;
      height: 10px;
      width: 10px;
      background: url(/img/icons/down-black.png) no-repeat center center;
      transition: transform .5s;
      @include breakpoint(max-width 1200px) {
        display: block;
      }
    }
    @include breakpoint(max-width 1200px) {
      display: block;
    }
  }
  // end for mobile menu gamburger

  &__buttons {
    width: 100%;
    position: relative;
    float: left;
    padding-left: 0;
    margin: 0;
    overflow-x: hidden;
    transition: .3s;
    @include breakpoint(max-width 1200px) {
      display: none;
      width: 260px;
      text-align: center;
      background-color: #fff;
    }
    li {
      position: relative;
      float: left;
      list-style: none;
      text-align: center;
      box-sizing: border-box;
      display: block;
      width:auto;
      padding: 20px ;
      font-size: 16px;
      color: #000;
      border-top: 2px solid transparent;
      transition: padding 2s;
      cursor: pointer;
      @include breakpoint(max-width 1450px) {
        padding: 20px 10px;
      }
      @include breakpoint(max-width 1225px) {
        padding: 20px 8px;
      }
      @include breakpoint(max-width 1200px) {
        padding: 20px;
        width: 100%;
      }
      img {
        display: none;
        position: relative;
        float: right;
        margin-top: 10px;
      }
      a {
        color: #000;
      }
      a:focus,
      a:hover {
        color: #000;
      }
    }
    .active_tab {
      background-color: #fff;
      border-top: 2px solid #547df9;
      @include breakpoint(max-width 1200px) {
        border-top: 2px solid transparent;
      }
    }
  }

  &__content {
    background-color: #f4f6f6;
    position: relative;
    float: left;
    width: 100%;
    h2 {
      text-align: center;
      background-color: #ffffff;
    }
  }



}