.tabs {
  margin:0 30px;
  position: relative;
  float: left;
  width:calc(100% - 360px);
  @include breakpoint(max-width 940px) {
    width: 100%;
    margin: 0;
    padding: 0px 15px;
    box-sizing: border-box;
  }
  &__head {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    height: 80px;
    h1 {
      position: relative;
      float: left;
      font-size: 34px;
      font-weight: 500;
      @include breakpoint(max-width 650px) {
        font-size: 24px;
      }
    }

    .drop {
      margin-top: 20px;
      margin-left: 0;
      @include breakpoint(max-width 650px) {
        float: left;
        margin-left: 10px;
        width: 30px;
        height: 30px;
        >a{
          display: none;
        }

      }
      &:before {
        content: '';
        display: none;
        position: relative;
        float: left;
        width: 30px;
        height: 30px;
        background: url('../img/icons/down-black.png') center center no-repeat;
        @include breakpoint(max-width 650px) {
          display: block;
        }
      }
      a {
        width: 180px;
        @include breakpoint(max-width 650px) {
          width: 100%;
          background-color: transparent;
        }
      }
      ul {
        width: 180px;
        @include breakpoint(max-width 650px) {
          position: absolute;
          width: 320px;
          right: 0;
          text-align: center;
          top: 30px;
          background-color: rgba(100,100,100, .9);
        }
      }
    }
  }
  &__body {
    position: relative;
    float: left;
    width: 100%;
    &__buttons {
      position: relative;
      float: left;
      width: 1000px;
      padding-left: 0;
      margin: 0;
      overflow-x: hidden;
      @include breakpoint(max-width 1450px) {
        width: 250px;
        background-color: #ffffff;
      }
      li {
        position: relative;
        float: left;
        list-style: none;
        @include breakpoint(max-width 1450px) {
          float: none;
          width: 100%;
          text-align: center;
        }
        a {
          box-sizing: border-box;
          display: block;
          width: 100%;
          position: relative;
          float: left;
          padding: 20px 20px;
          font-size: 16px;
          color: #000;
          border-top: 2px solid transparent;
          img {
            display: none;
            position: relative;
            float: right;
            margin-top: 10px;
          }
        }
        .active {
          border-top: 2px solid #547df9;
          background-color: #ffffff;
          img {
            display: block;
          }
        }
      }
    }
    &__content {
      background-color: #ffffff;
      position: relative;
      float: left;
      width: 100%;
      text-align: center;
      box-shadow: 3px 5px 10px 0 #ccc;
      .scroll-tabs {
        position: relative;
        width: 100%;
        text-align: center;
        z-index: 10;
        box-sizing: border-box;
        overflow-y: hidden;
        padding-left: 0;
        &::-webkit-scrollbar {
          height: 2px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #526069;
        }
        &::-webkit-scrollbar-track {
          background-color: #cbcfd2;
        }
      }

      &__inside-tabs {
        width: 850px;
        margin: 40px auto 20px auto;
        li {
          position: relative;
          display: inline-block;
          float: left;
          list-style: none;
          width: auto;
          padding: 15px 0;
          border: 1px solid #eeeeee;
          border-right: none;
          box-sizing: border-box;
          margin-bottom: 5px;
          &:last-child {
            border-right: 1px solid #eeeeee;
          }
          a {
            color: #000;
            width: 100%;
            padding: 15px 20px;
            font-size: 14px;
            box-sizing: border-box;
            border: none;
          }
          .active {
            background-color: #526069;
            color: #fff;
            border: 1px solid #526069;
          }
        }
      }
      &__inside-content {
        position: relative;
        width: 90%;
        margin: 0 auto;
        padding: 30px 0;
        h2 {
          font-size: 30px;
          font-weight: 700;
          margin-top: 40px;
        }
        .block {
          width: 50%;
          position: relative;
          float: left;
          @include breakpoint(max-width 1450px) {
            width: 100%;
            margin-bottom: 20px;
          }
          h3 {
            text-align: left;
            margin: 0;
            margin-top: 30px;
          }
          .img {
            width: 50%;
            position: relative;
            float: left;
            @include breakpoint(max-width 630px) {
              width: 100%;
            }
            .box{
              position: absolute;
              text-align: center;
              top: 80px;
              left: -5px;
              width:100%;
              height: 100%;
              h2 {
                margin: 0;
                span {
                  position: absolute;
                  top: 25px;
                  font-size: 16px;
                  color: red;
                  font-weight: 300;
                }
              }
              p {
                margin: 0;
              }
            }
          }
          h3 {
            @include breakpoint(max-width 630px) {
              text-align: left;
              width: 250px;
              margin: 10px auto;
            }
          }
          ul {
            @include breakpoint(max-width 630px) {
              width: 250px;
              margin: 10px auto;
              float: none;
            }
            li {
              span {
                position: relative;
                float: left;
                &:last-child {
                  float: none;
                }
              }
            }
          }
        }
        ul {
          width: 50%;
          position: relative;
          float: left;
          padding-left: 0;
          text-align: left;
          li {
            list-style: none;

          }
        }
      }
    }
  }
}