html{
    width: 100%;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    text-align: left;
    vertical-align: baseline;
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f6f6;
    //font-family: 'PT Sans', sans-serif;
    //font-family: 'Roboto', sans-serif;
    //font-family: 'Source Sans Pro', sans-serif;
    //font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4 {
    color:#526069;
}

a {
    text-decoration: none;
    &:hover, &:focus, &:active{
        text-decoration: none;
    }
}

input{
    outline: none;
    &:hover, &:focus, &:active{
        outline: none;
    }
}

textarea{
    outline: none;
    &:hover, &:focus, &:active{
        outline: none;
    }
}

%clearfix {
    *zoom: 1;
    &:after {
        content: '';
        display: table;
        line-height: 0;
        clear: both;
    }
}

//wrap for menu height;
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    @include breakpoint(max-width 940px) {
        flex-direction:column;
    }
}
