.drop {
  position: absolute;
  float: right;
  margin-top: 25px;
  margin-left: 20px;
  background-color: #547df9;
  border-radius: 5px;
  z-index: 20;
  cursor: pointer;
  span {
    box-sizing: border-box;
  }
  span:first-of-type {
    display: block;
    color: #fff;
    padding: 10px;
  }
  span:last-of-type {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 8px;
    right: 5px;
    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: none;
      margin: 0!important;
    }
  }
  ul {
    display: none;
    background-color: #547df9;
    position: absolute;
    padding: 10px 0;
    margin: 0;
    z-index: 10;
    width: 100%;
    top: 35px;
    li {
      list-style: none;
      color: #fff;
      padding: 5px 10px;
    }
  }
}

.clearfix {
  height: 0;
  width: 100%;
  clear: both;
  overflow: hidden;
  border:none;
}
.up {
    color: green;
}

.down {
    color: red;
}

.active--li  {
  span {
    background-color: #496fdf!important;
  }
}

.none {
  display: none;
}