.drop {
  position: absolute;
  float: right;
  margin-top: 25px;
  margin-left: 20px;
  background-color: #547df9;
  border-radius: 5px;
  overflow: hidden;
  z-index: 20;
  >a {
    display: none;
    //background-color: #547df9;
    color: #fff;
    //border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    z-index: 21;
    &:hover {
      background-color: #4569d6;
    }
    img {
      height: 5px;
      width: 5px;
      margin-left: 5px;
      margin-bottom: 2px;
    }
  }
  .drop-active {
    display: block!important;
    transition: transform .4s;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 10px;
      right: 0;
      height: 17px;
      width: 10px;
      padding-left: 10px;
      background: url(../img/icons/down.png) no-repeat center center;
      transition: transform .4s;
    }
  }
}

.clearfix {
  height: 0;
  width: 100%;
  clear: both;
  overflow: hidden;
  border:none;
}
.up {
    color: green;
}

.down {
    color: red;
}