
.yellow {
  background-color: #fec107;
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 5px;
}
.green{
  background-color: #a4d882;
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 5px;
}
.red {
  background-color: #fb4f56;
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 5px;
}
.blue{
  background-color: #2196f3;
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 5px;
}
.purple{
  background-color: #9c28b1;
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 5px;
}

.drop {
  position: relative;
  float: right;
  margin-top: 25px;
  margin-left: 20px;
  z-index: 20;
  >a {
    display: block;
    background-color: #547df9;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 20px;
    width: 140px;
    box-sizing: border-box;
    z-index: 20;
    img {
      height: 5px;
      width: 5px;
      margin-left: 5px;
      margin-bottom: 2px;
    }
  }
  ul {
    display: none;
    position: absolute;
    padding: 0;
    top:20px;
    background-color: #547df9;
    width: 140px;
    z-index: 21;
    li {
      position: relative;
      list-style: none;
      width: 100%;
    }
    a {
      display: block;
      position: relative;
      padding: 10px 20px;
      color: #fff;
      font-size: 14px;
      font-weight: 300;
      width: 100%;
      box-sizing: border-box;
      &:hover {
        background-color: #4569d6;
      }
    }
  }
}

.clearfix {
  height: 0;
  width: 100%;
  clear: both;
  overflow: hidden;
  border:none;
}