.drop {
  position: relative;
  float: right;
  margin-top: 25px;
  margin-left: 20px;
  border-radius: 5px;
  z-index: 20;
  cursor: pointer;
  $select-background: #547df9;
  .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #fff;
    width: 180px;
    height: 40px;
  }
  .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $select-background;
    padding: 8px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include transition(all 0.2s ease-in);
    &:after {
      content:"";
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-color: #fff transparent transparent transparent;
      position: absolute;
      top: 16px;
      right: 3px;
    }
  }
  .select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $select-background;
    li {
      margin: 0;
      padding: 4px 10px;
      box-sizing: border-box;
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
      &[rel="hide"] {
        display: none;
      }
    }
  }
}

.clearfix {
  height: 0;
  width: 100%;
  clear: both;
  overflow: hidden;
  border:none;
}
.up {
    color: green;
}

.down {
    color: red;
}

.active--li  {
  span {
    background-color: #496fdf!important;
  }
}

.none {
  display: none;
}

.icon-up {
  background: url(/img/icons/blue-rating-icon1.png) center center no-repeat/ contain;
  &:hover {
    background: url(/img/icons/yellow-rating-icon1.png) center center no-repeat/ contain;
  }
}
.icon-smile {
  background: url(/img/icons/blue-rating-icon2.png) center center no-repeat/ contain;
  &:hover {
    background: url(/img/icons/yellow-rating-icon2.png) center center no-repeat/ contain;
  }
}
.icon-angry {
  background: url(/img/icons/blue-rating-icon3.png) center center no-repeat/ contain;
  &:hover {
    background: url(/img/icons/yellow-rating-icon3.png) center center no-repeat/ contain;
  }
}
.icon-smirk {
  background: url(/img/icons/blue-rating-icon4.png) center center no-repeat/ contain;
  &:hover {
    background: url(/img/icons/yellow-rating-icon4.png) center center no-repeat/ contain;
  }
}
.icon-sad {
   background: url(/img/icons/blue-rating-icon5.png) center center no-repeat/ contain;
   &:hover {
     background: url(/img/icons/yellow-rating-icon5.png) center center no-repeat/ contain;
   }
 }
.icon-rolf {
  background: url(/img/icons/blue-rating-icon6.png) center center no-repeat/ contain;
  &:hover {
    background: url(/img/icons/yellow-rating-icon6.png) center center no-repeat/ contain;
  }
}
.icon-horn {
  background: url(/img/icons/blue-rating-icon8.png) center center no-repeat/ contain;
  &:hover {
    background: url(/img/icons/yellow-rating-icon8.png) center center no-repeat/ contain;
  }
}
.icon-chat {
  background: url(/img/icons/blue-rating-icon9.png) center center no-repeat/ contain;
  &:hover {
    background: url(/img/icons/yellow-rating-icon9.png) center center no-repeat/ contain;
  }
}