.container {
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    overflow: hidden;
    width: calc(100% - 330px);
}
@media (max-width: 940px) {
    .container {
        width: 96%;
    }
}

.container {
    @extend %clearfix;
}
